# Ignore large video files
Video/0310.mov
Video/7. NURSING Thai 1080.60i No subs.mp4

# Ignore build output and executables
dist/
dist/PURE PRESENTER-win32-x64/PURE PRESENTER.exe
dist/win-unpacked/AIU CHURCH PRESENTER.exe
dist/win-unpacked/resources/app.asar

# Ignore Electron binaries
app/node_modules/electron/dist/
node_modules/electron/dist/electron.exe"dist/" 
"Video/" 
"app/node_modules/electron/dist/" 
